html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background-color: $black;
}

.wrapper {
  max-width: 1200px;
  height: 100vh;
  margin: auto;
  padding: 20px;
}

main {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 20px;
  @media screen and (max-width: 860px) {
    grid-template-columns: 1fr;
    grid-template-rows: 2fr 1fr;
  }
}

div.bottom {
  height: 10px;
  width: 100vw;
}